<h1>MY TASKS</h1>
<% @tasks.each do |task| %>
  <div>
    <% if task.completed == true %>
       <input type="checkbox" value="<%= task.title %>" checked>
    <% else %>
       <input type="checkbox" value="<%= task.title %>">
    <% end %>
    <label for="<%= task.title %>"><%= link_to task.title, task_path(task) %></label>
    <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<div>
  <%= link_to "Add a new task", tasks_new_path %>
</div>
